@import "Null.scss";
$fz:14px;//дефолтные расширения 
@mixin fff($fz){
  font-size: $fz;
  height: 320px / 960px * 100%;
}
//-----------------------------------------------------
body{
	font-family: "OpenSans";
}
%nav{
  color: rgba(255, 255, 255, 0.69);
  line-height: 1.2;
  display: inline-block;
  margin: 25px 54px 0 0;
  font-size: 17px;
}

.header {
	.navbar {
	width: 1580px;
	height: 70px;
	background-color: #000000;
	   .logo {
	   margin: 22px 595px 23px 150px;
	   width: 80px;
      }
      span{
      	@extend %nav;
      }
   }
   &.panel {
   	height: 700px;
   	background-color: #9a9a9a;
   	width: 1580px;
      position: relative;
   	& .Signup {
   		width: 360px;
   		height: 360px;
   		position: absolute;
   		top: 190px;
   		left: 990px;
   		& .signTOP {
   			height: 54px;
   			background-color: #f6f6f6;
   			& .txtFREE {
               font-size: 20px;
               color: rgb(51, 51, 51);
               font-weight: bold;
               line-height: 1.2;
               text-align: center;
               padding-top: 18px;
               span{
               	color: #ff8b38;
               }
   			}
   		}
   		& .sign {
   			height: 360px - 54px;
   			background-color: #fff;
   			& .form {
   				input{
   					width: 360px - (35px*2);
   					margin: 26px 35px 0;
                  line-height: 1.2;
                  font-size: 16px;
                  border-bottom: 1px solid rgb(189, 189, 189);
                  padding: 10px;
                  opacity: 0.8;
                  &:focus{
                  	box-shadow: 0 0 5px 5px #887878;
                  }
   				}
   				.button{
   					display: inline-block;
   					margin-top: 50px;
   					background-color: #ff9d4b;
   					a{
   						display: inline-block;
   						background-color: #ff9d4b;
                     font-size: 18px;
                     color: rgb(255, 255, 255);
                     line-height: 1.2;
                     opacity: 0.9;
                     text-align: center;
                     height: 100%;
   					   width: 100%;
   					   padding-top: 20px;
   					   &:active{
   					   	background-color: #4873A8;
   					   }
   					}
   					height: 360px - 54px - 247px;
   					width: 100%;
   				}
   			}
   		}
   	}
   	& .picture1 {
         color: rgba(255, 255, 255, 0.22);
         line-height: 1.2;
         text-align: center;
         font-size: 35px;
         padding: 60px 0 16px 0;
   	}
   	& .logo{
   		margin: 0 0 30px 150px;
   	}
   	& .podlogo {
   		margin: 0 0 30px 150px;
         font-size: 36px;
         font-weight: lighter;
         color: rgb(255, 255, 255);
         line-height: 1.2;
         width: 550px;
   	}
      & .divider {
      	margin: 0 0 30px 150px;
      }
      & .poddivider {
      	margin: 0 0 50px 150px;
         font-size: 18px;
         color: rgba(255, 255, 255, 0.8);
         line-height: 1.438;
         color: #cccccc;
         width: 480px;
      }
      & .download {
      	padding: 12px 32px;
      	border: 3px solid #e6e6e6;
         font-size: 18px;
         color: rgb(255, 255, 255);
         opacity: 0.9;
         margin: 0 0 50px 150px;
         border: 5px solid #000;
         &:hover{
         	border: 5px solid #C04A4A;
         	color: #C04A4A;
         }
         &:active{
            border: 2px solid #C04A4A;
            box-shadow: 0 0 10px 4px #2D5D30;
         }
      }       
   }
   .BrandBar {
      width: 1580px;
   	border-bottom: 4px solid #9a9a9a;
   	.text {
   		.text1 {
         font-size: 20px;
         color: rgb(51, 51, 51);
         font-weight: bold;
         margin: 15px 0 10px 150px;
   		}
         .text2 {
         	width: 360px;
         	display: inline-block;
            color: rgb(134, 135, 139);
            margin: 0 0 10px 150px;
            font-size: 16px;
         }
         .media {
         	margin: -20px 0 0 90px;
         }
   	}
   }
}
